.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.catsbyImg {
  width: 200px;
  position: fixed;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 1024px) {
  .catsbyImg {
    width: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .catsbyImg {
    display: none;
  }
}
